h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5em 0;
  line-height: 1.2;
}

h1 {
  font-size: 2em;
}

code {
  padding: 0.2em 0.4em;
  font-size: calc(1em - 2px);
  color: #555;
  background-color: #f0f0f0;
  border-radius: 2px;
}
